@charset "utf-8";
/* CSS Document */


.email_des{
				border-top:0px solid;
				border-bottom:2px solid gray;
				border-left:0px solid;
				border-right:0px solid;
				width:250px;
				outline:none;
				margin:auto !important;
				
	}
	
	
	.forgot_div{
		
				height:350px;
				width:40%;
				margin:150px auto;
				background-color:#FFF;	
				text-align:center;
				position:relative;
				box-shadow:0px 0px 10px rgba(51,51,51,0.5);
		}
		
		.forgot_div:after{
			
					content:"";
					height:70px;
					width:95%;
					position:absolute;
					bottom:0%;
					left:15px;
					margin:auto !important;
					z-index:-1;
					background:rgba(102,102,102,0.5);
					box-shadow:0px 7px 10px rgba(51,51,51,0.5);	
			}
		
	h2{
			margin:auto !important;
			color:#999 !important;
			padding:10px 0px;
			padding-bottom:50px;
		}
		
		.sub_btn{
			
					margin-top:20px;
					width:100%;
					background:#09F;
					border:none;
					padding:10px 0px;
					outline:none;	
			}

i{
	
		font-size:24px;
		margin-top:200px;	
		position:absolute;
		top:-96px;
		left:47px;
	
}